.topnav {
    overflow: hidden;

}

.topnav .left {
	position: absolute;
}

/* Style the links inside the navigation bar */
.topnav .left a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Economica', sans-serif;
	letter-spacing: 2px;
}

.topnav .right {
	float: right;
}

.topnav .right a {
	float: right;
}

.topnav .right a {
	float: right;
}


/* Change the color of links on hover */
.topnav .left a:hover {
    background-color: #ff9000;
    color: #000000;
}

.topnav .right a:hover {
	color: #000000;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: #000000;
	padding: 14px 16px;
	background-color: inherit;
	font-size: 20px;
	font-family: 'Economica', sans-serif;
	margin: 0;
	letter-spacing: 2px;
}

.searchbar {
	background-color: #ffffff;
	font-size: 20px;  
	outline: none;
	border: 1px solid black;
	color: #000000;
	padding: 14px 16px;
	margin-left: 20px;
	margin-top: 5px;
}

.searchbar-img: {
	background-color: #bbbbbb;
}

.topnav .left a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(200, 200, 200);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(50, 50, 50);
  color: orange;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  font-size: 31px;
  letter-spacing: 2px;
  color: orange;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: 'Economica', sans-serif;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.maintext {
    text-align: center;
    color: #000000;
	font-size: 40;
}

.nametext {
    text-align: center;
    color: #000000;
	font-size: 50;
}

.nametext-left {
    color: #000000;
	font-size: 50;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column-left {
  float: left;
  width: 38%;
  padding: 10px;
  margin-left: 20%;
}

.column-left-chef {
  float: left;
  width: 20%;
  padding: 10px;
  margin-left: 10%;
}

.column-right {
  float: left;
  width: 30%;
  padding: 10px;
  margin-left: 10%;
}

.column-right-chef {
  float: left;
  width: 50%;
  padding: 10px;
  margin-left: 10%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.event-tag {
	background-color: #aaaaaa;
}

.rsvp-box {
	font-size: 30;
}

.rsvp-text {
	background-color: #00bb11;
}

.message-text {
	background-color: #ffffff;
}

.photo-link {
	text-decoration: underline;
	color: blue;
}

.achievement-tag {
	background-color: #aaffbb;
}

.advertisement {
	background-color: #bbbbbb;
	font-size: 20px;
	margin-left: 30px;
}


/* LAUREN'S STYLE FOR HOME PAGE */

.main_bar {
  background-color: coral;
  height: 300px;
  margin: 20px;
  padding: 15px;
  border-radius:20px;
}

.label_box {
  background-color: pink;
  width: 100px;
  height: 260px;
  padding: 5px;
  font-size: 30px;
  text-align: center;
  border-radius:10px;
}

.see_all{
  background-color: white;
  font-size: 15px;
  border-radius:10px;
}


.float_left{
  float:left;
}

.float_right{
  float:right;
}

.float_clear{
  clear: both;
}

.image_box{
  margin-left:40px;
  margin-right:40px;
  padding-top: 10px;
  text-align: center;
  object-fit: cover;
  background-color: #D3D3D3;
  border-radius: 10px;
}

.caption_box{
  width: 200px;
  margin: 10px;
}